<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a22b11">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.22B11">
        <activity
            android:name=".Color_Choose_Theme"
            android:exported="false" />
        <activity
            android:name=".Sportactivity_Edit"
            android:exported="false" />
        <activity
            android:name=".Sportactivity_Edit_Selection"
            android:exported="false" />
        <activity
            android:name=".Sportactivity_Selection"
            android:exported="false"
            android:parentActivityName=".Sportactivity_Home" />
        <activity
            android:name=".Sportactivity_Record"
            android:exported="false"
            android:parentActivityName=".Sportactivity_Selection" />
        <activity
            android:name=".Sportactivity_Home"
            android:exported="true"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".MyForegroundService"/>
        <receiver
            android:name=".MyBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".QuestionnaireWelcome"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <service android:name=".MyForegroundService" />


    </application>

</manifest>